.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(45deg, #ff9a9e, #faf9cd, #c4fac8, #cdc4fa);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-image: linear-gradient(rgb(214, 8, 8), rgb(231, 200, 25), rgb(28, 148, 10), rgb(10, 10, 148));
    color: transparent;
    background-clip: text;
}

a, button {
    background-color: white;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid #217a24;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgb(11, 131, 57);
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 20px 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a:hover, button:hover {
  background-color: #217a24;
  color: white;
}

div {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

